<! DOCTYPE html>
<html>
  <head>
    <title>Film Females</title>
    <link rel="stylesheet" type="text/css" href="css/film.css">
  </head>
  <body class="filmpg">
    <img class="film1" src=http://www.pngmart.com/files/5/Movie-PNG-Transparent-Image.png>
    <h1 class="notablefilm">Notable Females In Film</h1><br>
    <h1 class="note">Ava DuVernay</h1><br>
 <a href="https://en.wikipedia.org/wiki/Ava_DuVernay"><img class="Ava"src=https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2018/03/09/105056183-Ava_DuVernay_2.1910x1000.jpg></a>

    <p class="avawords">Ava DuVernay is an American director, producer, screenwriter, filmmaker, and film distributor. She is known for
      the movies "Selma", "13th", and "A Wrinkle in Time", just to name a few. She was the first ever black female
      director to be nominated for a Golden Globe, and the first black female director to have her movie nominated
      ("Selma") for best picture at the Academy Awards. With her last project "A Wrinkle in Time", she became the highest grossing black woman filmmaker in America cinema history, with her film "A Wrinkle in Time", making more than 100 million domestically. 
</p><br>
    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/x6t7vVTxaic" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br><br>
   <a href="https://www.youtube.com/embed/qSn7JyijA8k"><img class="horror" src=https://upload.wikimedia.org/wikipedia/en/thumb/0/06/Carrie_Domestic_One-sheet.jpg/220px-Carrie_Domestic_One-sheet.jpg></a><img class="Kim" src=http://www.blackfilm.com/read/wp-content/uploads/2013/10/Carrie-premiere-Director-Kimberly-Peirce.jpg>

 <a href="https://www.youtube.com/embed/jcD0Daqc3Yw"><img class="Emily" src=https://www.thefamouspeople.com/profiles/images/emily-v-gordon-1.jpg><img class="romance"src=https://upload.wikimedia.org/wikipedia/en/6/69/The_Big_Sick.jpg></a><br>
    <p class= "horrorword"> 
      Horror</p>
      <a href="https://en.wikipedia.org/wiki/Kimberly_Peirce"><p class="hwords">Kimberly Pierce<br></a>
    Director, "Carrie"<br>
    Kimberly Pierce is an American feature<br>film director. She is known for her films<br>"Boys Don't Cry"(1999), "Stop-Lost"(2008)<br> which was released by Paramount Pictures,<br>and the horror film "Carrie"(2013).</p>
    
  <p class="romanceword">
    Romance</p>
    <a href="https://en.wikipedia.org/wiki/Emily_V._Gordon"><p class="rwords">Emily V. Gordon<br></a>
   Writer, "The Big Sick"<br>
  Gordon is an American writer and comedy<br>producer. With her husband comedian<br>and actor Kumail Nanjiani co-wrote<br>"The Big Sick". The film was nominated<br>for an Academy Award in 2018 for<br>Best Original Screnplay. 
  </p>
<a href="https://www.youtube.com/embed/RfFcaV5O7SU"><img class="comedy" src=https://upload.wikimedia.org/wikipedia/en/4/4a/Blockers_%28film%29.png><a/><img class="Kay" src=https://m.media-amazon.com/images/M/MV5BMjEwNDM4Mjc2N15BMl5BanBnXkFtZTgwNzc2ODgzNDM@._V1_.jpg>

<a href="https://www.youtube.com/embed/YxC_JNz5Vbg"><img class="Meg" src=https://vz.cnwimg.com/thumbc-300x300/wp-content/uploads/2014/03/me.jpg><img class="drama" src=https://upload.wikimedia.org/wikipedia/en/7/77/ZeroDarkThirty2012Poster.jpg></a>
  <p class="comedyword">Comedy</p>
      <a href="https://en.wikipedia.org/wiki/Kay_Cannon"><p class="cwords"> Kay Cannon<br></a>
    Director, "Blockers"<br>
  Kay is an American screenwriter,<br>producer, and director. She is best known<br>for writing the "Pitch Perfect" films,<br>and writing and producing NBC's<br>"30 Rock" and Fox's "New Girl".
  </p>
    <p class="dramaword">Drama<br>
      <a href="https://en.wikipedia.org/wiki/Megan_Ellison"><p class="dwords">Meghan Ellison<br></a>
    Producer, "Zero Dark Thirty"<br>
     Meghan is an American film producer. She is best<br>known for producing the films Zero Dark Thirty<br>(2012), Her (2013), American Hustle (2013), and<br>Phantom Thread (2017). Each film was nomintated<br>for Oscars. In 2014, she was named one of Time's<br>100 most influencial people.
</p><br>
  </body>
</html>







