<!DOCTYPE html>
<html>
<head>
  <style>.visual {
  height: 400px;
  width: 595px;
  display: block;
  margin: 0 auto;
  float: left;
}

.music {
  height: 500px;
  width: 595px;
  display: block;
  margin: 0 auto;
}

.film { height: 500px;
  width: 595px;
  display: block;
  margin: 0 auto;
}

.hometitle {
  text-align: center;
  font-size: 60px;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
  font-size: 30px;
 }
 body {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/jVhILry/modern-grey-abstract-background-4k_nkq5obw1e__F0000.png");
  background-repeat: no-repeat;
  background-size: 3500px 4000px;
}
     #lf {
  position:relative;
  margin:0 auto;
  float: left;
}

#lf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  height:600px;
  width:1500px;
   padding-bottom: 500px;
  float:right;
}

#lf img.top:hover {
  opacity:0;
  height:600px;
  width:1500px;
   padding-bottom: 500px;
  float:right;
}
  .container {
  position: relative;
  width: 50%;
}
  .musicp{
  text-align: right;


}
     #lf {
  position:relative;
  margin:0 auto;
  float: left;
}

#df img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  height:700px;
  width:750px;
   padding-bottom: 500px;
  float:right;
}

#df img.top:hover {
  opacity:0;
  height:700px;
  width:750px;
   padding-bottom: 500px;
  float:right;
}
  .container {
  position: relative;
  width: 50%;
}
 .moviegif{
  float: right;
  height:350px;
  width:800px;

}
.meangirlsgif{
  float: right;
  height:350px;
  width:800px;

}
.mosque{
  height:225px;
  width:800px;

}
.resource {
  text-align: center;
  border: 2px dotted;
  margin-left: 650px;
  margin-right: 650px;
 }
.about {
  text-align: center;
  border: 2px dotted;
  margin-left: 650px;
  margin-right: 650px;


    }
 </style>
  <link rel="stylesheet" href="css/homepage.css" />
  <title>
    Girls And The Arts
  </title>
  <h1 class = "hometitle">Girls And The Arts</h1>
  <h3>Three Arts and How Girls Shape Them</h3>
</head>
<body>
  <a href="resource"><p class="resource">Resources</p></a>
  <a href="about"><p class="about">About Us</p></a>
  <a href="visual"><h3>Visual</h3></a>
  <a href="music"><h3>Music</h3></a>
  <a href="film"><h3>Film</h3></a>
  <h4>Which form of art are you most interested in? Click on the link of your choice to begin!<h4>
  <br>
  <br>
  <br>
  <br>
  <img class="visual" src="https://i.pinimg.com/originals/49/3a/f0/493af0833b4df85a61bf20052c4d37fb.jpg">
<img class = "mosque" src= "https://78.media.tumblr.com/36ad18122af6ffd60b5eedc1bfd4fba8/tumblr_p3er76trUc1vbzt0ko1_r1_500.gif">
  <p class="1">
  <br>
<h4>When you think of famous works of art you usually think of artists like Da Vinci, Monet, Degas,Van Gough, Picasso, Warhol,and Matisse. What do these artists all have in common? They are all male artists. Only 3-5% of major art collections in the US and Europe are made by women artists. 96.1% of artworks sold at auctions are by male artists.</h4>
  </p>
 <div id="lf">
  <img class="bottom" src="https://78.media.tumblr.com/f60a1634fe377e7f765dea14cd59f6e5/tumblr_inline_ny4q5eCrBs1ripgeb_500.gif " />
  <img class="top" src="https://i.pinimg.com/originals/e4/b9/cf/e4b9cf155b9391477f883b527c79fba9.gif" />
</div>
  <p class="music">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <a href="music"><h3>Music</h3></a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
     <h4>Music is one of the most influential forms of art; the only thing is, women aren't that involved in it.In a recent study conducted in 2017, 83.2% of music artists are male, meanining that only 16.8% of music artists are female. On average in a week, a person spends about 32 hours listening to music (according to forbes.com) imagine how many women we could have take up those hours.</h4>
  </p>
 <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
   <div id="df">
  <img class="bottom" src="https://i.pinimg.com/564x/47/30/6c/47306cc57e6177a8619ca3c905a634f7.jpg" />
  <img class="top" src="https://media.giphy.com/media/NnFZysBOEprAA/giphy.gif" />
</div>
   <img class ="moviegif" src="https://media.giphy.com/media/vMpIROGGSujkI/giphy.gif" alt="Smiley face">
  <img class ="meangirlsgif" src="https://campusriot.com/wp-content/uploads/2013/07/Mean-Girls-GIF-Cady-Heron-Lindsay-Lohan-Falls-In-Trash-Can1.gif" alt="trash">
    <a href="film"><h3>Film</h3> </a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h4>The average american watches 5,000 movies in their lifetime.
  Only 12% of films have female directors, and only 17% have female writers.</h4>
    </p>

</body>
</html>
