<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
     <link rel="stylesheet" type="text/css" href="css/music.css">
    </head><style>
#cf {
  position:relative;
  height:200px;
  width:600px;
  margin:0 auto;
}
#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
#cf img.top:hover {
  opacity:0;
}
  #cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  height:650px;
  width:600px;
  align: center;
}

#cf img.top:hover {
  opacity:0;
  height: 650px;
  width:600px;
  align: center;
}

</style>
  <body>
    <h1>Music and the Females Behind It</h1>
    <div id="cf">
  <img class="bottom"  src="http://ozfm.com/wp-content/uploads/2018/04/ariana-grande-not-tears-left-to-cry-promo.jpg" />
  <img class="top" src="http://www.breatheheavy.com/wp-content/uploads/2018/06/ariana-grande-sweetener-cover-1.jpg" />
</div>
   <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <iframe class="ag" width="560" height="315" src="https://www.youtube.com/embed/ffxKSjUwKdU?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <br>
  <br>
  <h1>Notable Female</h1>
      <br>
  <h2>♡Ariana Grande♡</h2>
  <br>
  <h3>♡♡♡Ariana Grande is 25 years old and is soon releasing her new album: Sweetener. In the past couple of years, she has had 9 songs in the top 10 of Billboard's top 100 category. This year she has already released 4 songs, with way more to come. She is one of many successful women in the music field, but she stood out due to her recent comeback to the industry.♡♡♡</h3>
    <img class="aesthetic" src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWdPKlTFiNvskKguJouRIZXp1tepsAN_7X-zK64DNOtihEbMXM>
    <br>
    <br>
    <br>
    <br>
    <h1>Genres</h1>
    <h3>Pick a genre that interests you!<h3>
    <br>
      <h1 class= "musicx">Pop</h1><img class="musicz" src=https://i.pinimg.com/originals/2b/20/be/2b20be766e1822d0208618b528932f8a.gif><h3 class="genre">Ariana Grande ♡ ♡ ♡Pop is a genre of music that stands for "popular music." Ariana Grande is a well-known female in this category. She has many songs that have qualified under Spotify's playlist: Today's Top Hits. One of her newer popular songs is no tears left to cry💧.</h3>
      
      <img class="aesthetic" src=https://i1.wp.com/data.whicdn.com/images/106878849/large.jpg>
      <br>
      <h1 class= "musicx">Rap</h1><img class="musicz" src=https://media1.tenor.com/images/a7668162aa95f487bce02b51bb7030de/tenor.gif?itemid=5638832><h3 class="genre"><h3 class="genre">Nicki Minaj ❀ ❀ ❀ Rap is a genre of fast-paced beats and words that match that beat. Nicki Minaj is one of many famous female rappers, including Cardi B and many others. She has released a number of new songs this year including two collaborations with Ariana Grande. One of her newer popular songs is Chun-Li春丽</h3>
      <img class="aesthetic" src=https://img.etsystatic.com/il/2291ec/1195310918/il_570xN.1195310918_jis1.jpg?version=0>
      <br>
      <h1 class= "musicx">Country</h1><img class="musicz" src=https://i.pinimg.com/originals/9e/13/69/9e1369a8d1ba6b6936be8b7b66046945.jpg><h3 class="genre"><h3 class="genre">Carrie Underwood ✧ ✧ ✧ Country is a genre that is mainly acoustic and originated from southern America. Carrie Underwood has had many popular songs on the radio and on the charts. Her newer popualr song is The Champion🏆.</h3>
      
      <img class="aesthetic" src=https://i.pinimg.com/originals/4a/c3/f5/4ac3f5c46e044f66daac8178683fc456.jpg>
      <br>
      <h1 class= "musicx">Rock</h1><img class="musicz" src=https://i.pinimg.com/originals/f3/2e/89/f32e8972edf0d789ccb5f934b1b123fe.gif><h3 class="genre"><h3 class="genre">Gwen Stefani ❅ ❅ ❅ Rock is a genre that uses electric instruments such as guitars and pianos. Gwen Stefani has a lot of songs that fall into the rock category. Her most popular song was Hollaback girl. This song was number 1 on Billboard's top 100 chart.🗣️</h3>

      <img class="aesthetic" src=https://png.pngtree.com/thumb_back/fw800/back_pic/04/27/21/62583aeeeb91f03.jpg>
      <br>
            <br>
            <br>
            <br>
            <br>
      <img class="aesthetic2" src=https://78.media.tumblr.com/fb8044f74657937f7470a7b7fd025d9f/tumblr_o2fvv4i8Jc1uf5j8co1_500.png><img class="aesthetic3" src=https://static.tumblr.com/d5151f5c0c1c9e7f43bc0c6f6f9561b7/ajmxi5i/UHLo43aid/tumblr_static_filename_640_v2.png>
            <br>
      <img class="aesthetic5" src=https://data.whicdn.com/images/215187990/large.png>
      <h4 class="cooltexts">Created By: Reagan Hattenberger</h4>
      </body>
      
      



