<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/resource.css">
  <title>Resources</title>
</head>
<body class="resourcepg">
  <h1 class="topr">Resources for the Arts</h1>
  <p class="top"> If you are interested a career in these industries, below we have provided links to schools and programs specialized for the arts.</p>
  <h2 class="artscat">Film</h2>
  <h3 class="spr">Schools</h3>
  <p class="parare">USC School of Cinematic Arts<br>
    <a href="http://cinema.usc.edu/">http://cinema.usc.edu/</a><br>
Offers film and television production studies.<br><br><br>

Loyola Marymount University School of Film and Television<br>
    <a href="https://sftv.lmu.edu/">https://sftv.lmu.edu/</a><br>
Majors in Animation, Film, Tv, Media Studies, Production.<br><br><br>

Emerson College<br>
<a href="https://www.emerson.edu/visual-and-media-arts/graduate-degrees/film-media-art-mfa">https://www.emerson.edu/visual-and-media-arts/graduate-degrees/film-media-art-mfa</a><br>
Film and Media Art Departments.<br><br>

  <h3 class="spr">Programs Around Baltimore or Online</h3>
 <p class="parare">Baltimore Youth Film Arts<br>
   <a href="http://www.filmartsbaltimore.org/">http://www.filmartsbaltimore.org/</a><br>
 Offers the opportunity to learn 
camera skills and create films and photographs to be shared at public screenings
and exhibits for participants ages 16-29.<br><br><br>
The Business of Film (online)<br>
<a href="https://www.futurelearn.com/courses/business-of-film">https://www.futurelearn.com/courses/business-of-film</a><br>
This six week program dives into film distribution, development, and marketing.<br><br><br><br>
  <h2 class="artscat">Music</h2>
  <h3 class="spr">Schools</h3>
  <p class="parare">Eastman School of Music<br>
  <a href="https://www.esm.rochester.edu/">https://www.esm.rochester.edu/</a><br>
Offers composition, music teaching, musicology,accompanying as a major and more.<br><br><br>
Boston Conservatory<br>
<a href="https://bostonconservatory.berklee.edu/music">https://bostonconservatory.berklee.edu/music</a><br>
 Voice/Opera, Piano, Strings, Vocal Pedagory, and more.<br><br><br>
Jacobs School of Music<br>
    <a href="http://music.indiana.edu/">http://music.indiana.edu/</a><br>
Audio Engineerning and Sound Production, Composition, Music Education, Voice, and more.<br><br>
  <h3 class="spr">Programs around Baltimore and Online</h3>
  <p class="parare">Coursera Music Online Courses<br>
  <a href="https://www.coursera.org/courses?query=music">https://www.coursera.org/courses?query=music</a><br>
    Online courses like Music Production and Introduction to Classical Music from universities like Yale and Michigan State University.<br><br><br>
 Peabody Institute<br>
    <a href="http://peabody.jhu.edu/">http://peabody.jhu.edu/</a><br>
Located in northern Baltimore, a conservatory and community school for the performing arts, offering instruction in music and dance, for all ages.<br><br><br><br>
  <h2 class="artscat">Visual Arts</h2>
  <h3 class="spr">Schools</h3>
  <p class="parare">Maryland Institute College of Art<br>
    <a href="https://www.mica.edu/">https://www.mica.edu/</a><br>
The avaible majors include Architectural Design, Art History, Photography, Drawing, and more.<br><br><br>
The New School, Parson School of Design<br>
    <a href="https://www.newschool.edu/parsons/">https://www.newschool.edu/parsons/</a><br>
The school of designs offers majors including Fashion Design, Graphic Design, Interior Design, and Photography.<br><br><br>
Rice University School of Architecture<br>
    <a href="https://arch.rice.edu/">https://arch.rice.edu/</a><br>
The school offers a Bachelor of Arts (with a major in Architecture or Architectural studies), a Bachelor of Architecture, and a Master of Architecture.<br><br><br>
  <h3 class="spr">Programs Around Baltimore or Online</h3>
<p class="parare">Introduction to Digital Photgraphy (Baltimore)<br>
  <a href="http://thephotoworkshops.net/workshops/introduction/">http://thephotoworkshops.net/workshops/introduction/</a><br>
4 or 8 hour classes are available that tell you everything you need to know about Digital Photography in lectures.<br><br><br>
Marc Jacobs Teaches Fashion Design<br>
<a href="https://www.masterclass.com/classes/marc-jacobs-teaches-fashion-design?utm_source=Paid&utm_medium=AdWords&utm_term=Aq-Prospecting&utm_content=Nonbrand-fashion%20design%20course%20online-FREETRIAL-Experiment&utm_campaign=MJ&gclid=Cj0KCQjwjtLZBRDLARIsAKT6fXx034_uDouZJg6fmsYzf-W1UZfL5kB9m0NuJv2JOV_kjC_92hv8jMoaApiOEALw_wcB">https://www.masterclass.com/classes/marc-jacobs-teaches-fashion-design?utm_source=Paid&utm_medium=AdWords&utm_term=Aq-Prospecting&utm_content=Nonbrand-fashion%20design%20course%20online-FREETRIAL-Experiment&utm_campaign=MJ&gclid=Cj0KCQjwjtLZBRDLARIsAKT6fXx034_uDouZJg6fmsYzf-W1UZfL5kB9m0NuJv2JOV_kjC_92hv8jMoaApiOEALw_wcB</a><br>
This online 18 lesson course on "MASTERCLASS" taught by Marc Jacobs teaches the student how to make trendy clothing.<br><br><br><br></p>
  </body> 
</html>

