<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url("https://78.media.tumblr.com/61cb4b6a9b08c9241947337dbaa58413/tumblr_o4ds32DS8g1tufvwho1_1280.png");
  background-repeat: no-repeat;
  background-size: 1500px 2550px;
}
body {
    background-color: lightpink;
}

h1 {
    color: black;
    text-align: center;
    font-size: 60px;

}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}
.profile{
    border-radius: 50%;
    width:700px;
    height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.buildings{
    border-radius: 25%;
    width:600px;
    height: 500px;
    float: ;
}
.works{
    font-family: verdana;
    font-size: 50px;
    text-align: left;
}
  .question{
    font-family: verdana;
    font-size: 50px;
    text-align: left;
    color: black;
}
  .fashion{
    font-family: verdana;
    font-size: 20px;
    text-align: left;
    color: black;
    padding-top: 980
}
.fashionc{
    font-family: verdana;
    font-size: 36px;
    text-align: center;
    color: black;
    padding-top: 950px;
  
}
  #ccf {
  position:relative;
  margin:0 auto;
  float: left;
}

#ccf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  height:750px;
  width:1500px;
}

#ccf img.top:hover {
  opacity:0;
  height:750px;
  width:1500px;
}
  .container {
  position: relative;
  width: 50%;
}

.zaha {
  display: block;
   margin-left: auto;
   margin-right: auto;
  width: 100%;
  height: auto;
  border-radius:50%;
  
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #909090;
}

.container:hover .overlay {
  opacity: 0.5;
}

.zahahadidtext {
  color: white;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
  .femaledesigners {
    font-size: 60;
    text-align: left;
  }
  .versace{
    border-radius: 50%;
    width:280px;
    height: 300px;
  }
  .donatella {
    font-size: 36;
    text-align: left;
  }
  .photo{
    font-size: 60;
    text-align: center;
    color:black;
  }
  .photodivide{
    width:1500px;
    height: 700px;
  }
       #hf {
  position:relative;
  margin:0 auto;
  float: left;
}

#hf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  height:700px;
  width:1500px;
   padding-bottom: 500px;
  float:right;
}

#hf img.top:hover {
  opacity:0;
  height:700px;
  width:1500px;
   padding-bottom: 500px;
  float:right;
}
 .annie1 {
  height: 500px;
  width: 600px;
  display: block;
  margin: 0 auto;
  float: left;
}
 .annie2 {
  height: 500px;
  width: 800px;
  display: block;
  margin: 0 auto;
  float: left;
}
  .annie4 {
  height: 550px;
  width: 350px;
  display: block;
  margin: 0 auto;
  float: left;
}
  .annie5 {
  height: 550px;
  width: 700px;
  display: block;
  margin: 0 auto;
  float: left;
}
  .annie7 {
  height: 550px;
  width: 1200px;
}
  #yf {
  position:relative;
  margin:0 auto;
  float: left;
}

#yf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  height:700px;
  width:1500px;
   padding-bottom: 500px;
  float:right;
}

#yf img.top:hover {
  opacity:0;
  height:700px;
  width:1500px;
   padding-bottom: 500px;
  float:right;
}
.yayoi{
    font-size: 24;
    text-align: right;
  }
  .vkgif{
    height: 700px;
  width: 300px;
    float: right;
  }
</style>
</head>
<body>

<h1>Visual</h1>
<p>Females Behind Art</p>
  <h2> Architecture </h2>
  <div class="container">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Zaha_Hadid_in_Heydar_Aliyev_Cultural_center_in_Baku_nov_2013.jpg/1200px-Zaha_Hadid_in_Heydar_Aliyev_Cultural_center_in_Baku_nov_2013.jpg" alt="Zaha Hadid" alt="Avatar" class="zaha">
  <div class="overlay">
    <div class="zahahadidtext">Zaha Hadid</div>
  </div>
</div>
 
                     
<h1>Zaha Hadid </h1>
  <p><b>Zaha Hadid was an Iraqi-born British architect whose soaring structures left a mark on skylines and imaginations around the world and in the process reshaped architecture for the modern age. In 2004 Hadid made history became the first woman to be awarded the Pritzker Architecture Prize.</b></p>
  <p class = "works"> Zaha Hadid's work </p>
   
  <iframe width="800" height="315" src="https://www.youtube-nocookie.com/embed/vSZgISIOyvM?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <img class="buildings"src="https://static.businessinsider.com/image/50b4d7d169bedd4968000000/image.jpg" alt="building">
<img class="buildings"src="https://media.giphy.com/media/2PXO2E8btxZDO/giphy.gif" alt="building">
  
  <iframe width="800" height="400" src="https://www.youtube-nocookie.com/embed/8mRPnFVSUzE?controls=0&amp;start=14" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <p class = "question"><b> What is architecture? </b></p>
  <p class = "architecture"> <b>Architecture is both the process and the product of planning, designing, and constructing buildings or any other structures. Architectural works, in the material form of buildings, are often perceived as cultural symbols and as works of art. Architecture incorporates art,math,and science.</b></p>
  <div id="ccf">
  <img class="bottom" src="http://cdn.harpersbazaar.com.sg/2017/09/hbs-mfw-versace-ss18-cover.jpg" />
  <img class="top" src="http://2018castingcalls.com/wp-content/uploads/2018/02/maxresdefault.jpg" />
  </div>
  
  <p class = "fashionc"> Fashion Design </p>
  <p class = "fashion">
    
    Fashion design is the art of applying design, aesthetics and natural beauty to clothing and its accessories. It is influenced by cultural and social attitudes, and has varied over time and place. </p>
   <img class="fsgif" src="https://thumbs.gfycat.com/DescriptiveLimitedIrishwolfhound-size_restricted.gif">
  <img class="fsgif" src="https://thumbs.gfycat.com/EnergeticPolishedBlueandgoldmackaw-size_restricted.gif">
  <img class="fsgif" src="https://thumbs.gfycat.com/RealisticLinedDobermanpinscher-max-1mb.gif">
  <img class="fsgif" src="https://media.giphy.com/media/yhCKUHay2YVBC/giphy.gif">
  <img class="fsgif" src="https://thumbs.gfycat.com/KindheartedHugeHawk-size_restricted.gif">
  <img class="fsgif" src="https://68.media.tumblr.com/fd53b1bc30fab40baef8c3f8d0a05136/tumblr_o8gkr55thK1rdzrtao1_500.gif">
  <img class="fsgif" src="https://assets.vogue.com/photos/58918339fb0604bf1f5c39c3/master/pass/0-holding-stella.gif">
  <img class="fsgif" src="https://assets.vogue.com/photos/58918339fb0604bf1f5c39c3/master/pass/0-holding-stella.gif">
  <img class="vkgif" src="https://78.media.tumblr.com/d0ede1798459b99e6b4e63662d8f6dfd/tumblr_nr2lbcUMII1r4qu38o1_500.gif">
  
                                                                                                                                            
  
  
  
  <p class = "femaledesigners"> 
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    Female Fashion Designers: </p>
 
<a href="URL ADDRESS"><img class= "versace"src="https://hips.hearstapps.com/hbz.h-cdn.co/assets/cm/14/52/54985093e4ec2_-_hbz-versace-my-list-0512-2-hnx8dh-lgn.jpg?fill=320:408&resize=480:*" 
 onmouseout="this.src='https://hips.hearstapps.com/hbz.h-cdn.co/assets/cm/14/52/54985093e4ec2_-_hbz-versace-my-list-0512-2-hnx8dh-lgn.jpg?fill=320:408&resize=480:* '"                         onmouseover="this.src='http://www.stickpng.com/assets/images/58429658a6515b1e0ad75ad4.png'"  /></a>

  <a href="URL ADDRESS"><img class= "versace"src="https://www.alux.com/wp-content/uploads/2017/07/Stella-McCartney-Net-Worth-e1501432990946.jpg" 
 onmouseover="this.src='http://assets.stickpng.com/thumbs/5842a0b2a6515b1e0ad75af1.png '"                         onmouseout="this.src='https://www.alux.com/wp-content/uploads/2017/07/Stella-McCartney-Net-Worth-e1501432990946.jpg'"  /></a>
  
  <a href="URL ADDRESS"><img class= "versace"src="https://cdn.shopify.com/s/files/1/0730/3537/files/Miuccia-Prada-600x686_grande.jpg?8498827766463943857" 
 onmouseover="this.src='https://seeklogo.com/images/P/prada-logo-055BF3A466-seeklogo.com.png'"                         onmouseout="this.src='https://cdn.shopify.com/s/files/1/0730/3537/files/Miuccia-Prada-600x686_grande.jpg?8498827766463943857'"  /></a>
  
  <a href="URL ADDRESS"><img class= "versace"src="http://www.idolmag.co.uk/wp-content/uploads/2015/08/Vivienne-Westwood-2.jpg" 
 onmouseover="this.src='https://cdn.freebiesupply.com/logos/large/2x/vivienne-westwood-1-logo-png-transparent.png'"                         onmouseout="this.src='http://www.idolmag.co.uk/wp-content/uploads/2015/08/Vivienne-Westwood-2.jpg'"  /></a>

  <a href="URL ADDRESS"><img class= "versace"src="https://media.newyorker.com/photos/59097a332179605b11ad8c80/master/w_727,c_limit/050704_r14122.jpg" 
 onmouseover="this.src='https://www.parlourx.com/media/catalog/category/COMME_DES_GARCONS.1504758048.png'"                         onmouseout="this.src='https://media.newyorker.com/photos/59097a332179605b11ad8c80/master/w_727,c_limit/050704_r14122.jpg'"  />
  </a>
  <p class=donatella> Donatella Versace&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Stella McCartney&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Miuccia Prada&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vivienne Westwood&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rei Kawakubo</p>



<iframe width="690" height="500" src="https://www.youtube-nocookie.com/embed/DEdIVEQBDQc?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <iframe width="690" height="500" src="https://www.youtube.com/embed/COElse7_AJ4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <iframe width="472" height="315" src="https://www.youtube.com/embed/mDNrHBUI530" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <iframe width="472" height="315" src="https://www.youtube-nocookie.com/embed/QqOHqrjDfaA?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<iframe width="472" height="315" src="https://www.youtube-nocookie.com/embed/PTQdWeI4Ac8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  
   <div id="hf">
  <img class="bottom" src="https://assets.vogue.com/photos/587798eb3497bb682a56742e/master/w_660,c_limit/karlie-kloss-taylor-swift-vogue-march-2015-1.jpg" />
  <img class="top" src="https://assets.vogue.com/photos/587798f7dc6ee2b90df0da72/master/pass/karlie-kloss-taylor-swift-vogue-march-2015-3.jpg" />
</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
     
     
     
  <h1> Photography</h1>
   <p class="photoblurb"> Photography is the art or practice of taking and processing photographs.</p>
  <p class="annie"> Photography by Annie  Leibovitz</p>
  <img class="annie1" src="http://www.phaidon.com/resource/alnewyorkjennifer-lawrence-vogue-september-cover-2017.jpg">
  <img class="annie2" src=" http://1.bp.blogspot.com/--fhQeQiYy6k/UP_bOHKTjHI/AAAAAAAAPGk/Mb0Dmadkv5s/s700/Vogue-Storm-Fashiontography-3.jpg">
  <img class="annie3" src="http://sidewalkhustle.com/wp-content/uploads/2013/01/20/Karlie-Kloss-Kasia-Struss-Arizona-Muse-Liu-Wen-Joan-Smalls-by-Annie-Leibovitz-for-Vogue-February-2013.jpg">
  <img class="annie4" src="https://houseoflavande.com/assets/2013/01/Untitled-62.jpg">
   <img class="annie5" src="https://www.thetimes.co.uk/imageserver/image/methode%2Fsundaytimes%2Fprodmigration%2Fweb%2Fbin%2Fe07a7a8f-da72-4b5c-bb20-3fabffef1528.jpg?crop=1500%2C1000%2C0%2C0&resize=685">
   <img class="annie6" src="https://cdn-images-1.medium.com/max/1200/1*d3hK8b904XWTZjPMTBkctg@2x.jpeg">
  <img class="annie7" src="https://www.somethingaboutmagazine.com/wp-content/uploads/2015/12/angelina-jolie-by-annie-leibovitz-for-vogue-us-november-2015-03.jpg">
   <div id="yf">
  <img class="bottom" src="http://publishbrand.com/wp-content/uploads/2015/09/1-YK.jpg" />
  <img class="top" src="http://www.patternandsource.com/images/kusamaHeader.jpg" />
</div>

   
   
     <p class = "yayoi"> 
       <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
       Painting by Yayoi Kusama</p>
    <p class = "paint">
  <br>
  <br>
  <br>
  <br>
 
  

     <b> Painting</b></p>
   <p class="paintdef"> Painting is the practice of applying paint, pigment, color or other medium to a solid surface (support base). The medium is commonly applied to the base with a brush, but other implements, such as knives, sponges, and airbrushes, can be used. Painting is a mode of creative expression, and can be done in numerous forms.</p>
    

</body>
</html>

